.body {
    background-image: url(../img/welcome.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: Nunito-Bold;
    src: url(../fonts/Nunito/Nunito-LightItalic.ttf);
}

.header {
    padding: 5px;
    font-family: Nunito-Bold;
    width: 100%;
}

.card-body, .bottoms {
    font-family: Nunito-Bold;
    text-align: center;
}

.rowcenter {
    font-family: Nunito-Bold;
    margin-bottom: 10px;
    text-align: center;
    padding: 3px;
}

.card-title, .bottoms {
    text-align: center;
}

.welc {
    font-size: 50px;
}

.bottoms {
    margin-bottom: 5px;
    padding: 20px;
}

a {
    text-decoration: none; color:black;
}

a:hover {
    text-decoration: none; color:red;
}

.card {
    border: outset 5px;
.   margin-bottom: 10px;
}

.carusels {
    border: 5px outset;
    border-color: #fff;
    border-radius: 5px;
}

. catalog {
.   margin: 5%;
}
