.body {
    min-width: 320;
    height: auto;
    /*background-color: rgb(214, 208, 198);*/
    background-image: url(../img/welcome.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@media screen and (min-width: 800px) {
    .rowcenter {
        position:absolute;
        margin-right: 450px;
    }
}

@media (max-width: 800px) {
    .cpu img {
        display: none;
    }
  }
.header {
    padding: 5px;
    font-family: Roboto-Light;
    width: 100%;
}

.logo {
    margin: 0 10px 0 10px;
}

.card-body, .bottoms {
    font-family: Roboto-Regular;
    text-align: center;
}

.card-body img {
    margin-top: 15px;  
}

.card img {
    display: inline-block;
    overflow: hidden;
    transition: 1s;
}
.card img:hover {
    transform: scale(1.05);
}

.rowcenter {
    font-family: Roboto-Medium;
    margin-bottom: 50px;
    text-align: center;
    padding: 3px;
    text-shadow: 5px 5px 5px rgb(129, 129, 136);
}

.card-title, .bottoms {
    text-align: center;
}

.acs_instr {
    transition: 1s;
}

.acs_instr:hover {
    transform: scale(2);
}

.welc {
    font-size: 50px;
    margin-top: 100px;
}

.bottoms {
    margin-bottom: 5px;
    padding: 20px;
}

a, p {
    text-decoration: none; color:white;
}

a:hover {
    text-decoration: none; color:blueviolet;
}

.card {
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgb(77, 77, 85);
}

.card-body p {
    color: black;
}

.card-body a {
    text-decoration: none; color: red;
}

.catalog {
    margin: 5%;
}

.container_bottoms {
    text-decoration: none; color: white;
    font-family: Roboto-Light;
}

.map {
    font-family: Roboto-Light;
    text-align: center;
    font-size: 30px;
    margin: 1%;
}