.body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.tel {
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 80%;
    right: 20px;
}

@font-face {
    font-family: Nunito-Bold;
    src: url(fonts/Nunito/Nunito-Bold.ttf);
   }
.header {
    background-color: cadetblue;
    text-align: center;
    padding: 5px;
    position: relative;
    font-family: Nunito-Bold;
}

.sams img {
    padding: 20px;
    float: left;
}

.sams p {
    padding: 20px;
    font-family: Nunito-Bold;
}