.body {
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: Nunito-Bold;
    src: url(fonts/Nunito/Nunito-Bold.ttf);
   }
.header {
    width: 100%;
    background-color: cadetblue;
    text-align: center;
    padding: 5px;
    font-family: Nunito-Bold;
}

.tel {
    text-align: center;
    padding-right: 20px;
    font-family: Nunito-Bold;
    background-color: cadetblue;
}

.tel img {
    position: absolute;

}


.sams img {
    padding: 20px;
    float: left;
}

.sams p {
    padding: 20px;
    font-family: Nunito-Bold;
}