.body {
    margin-left: auto;
    margin-right: auto;
}
.header {
    width: 100%;
    background-color: cadetblue;
    text-align: center;
    padding: 5px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.tel {
    text-align: center;
    padding-right: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: cadetblue;
}

.tel img {
    margin-right: 210px;
    margin-bottom: -15px;
}

.tel a {
    color: #000;
    text-decoration: none
}

.tel a h4 {
    padding: 5px;
    margin-top: -25px;
}

.sams img {
    padding: 20px;
    float: left;
}

.sams p {
    padding: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}