body {
    font-family: 'Hind Siliguri', sans-serif;
    min-width: 320px;
    font-weight: 400;
 }
 @media screen and (min-width: 567px) {
    .table {
        text-align: center;
        font-size: 20px;
    }    
 }
 @media screen and (max-width: 768px) { 
    .table {
        text-align: center;
        font-size: 10px;
    } 
 }
