@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@media screen and (min-width: 567px) {
    .tablica {
        width: 100%;
        margin-top: 50px;
    }
}
@media screen and (max-width: 567px) {
    .tablica {
        width: 100%;
        display: block;
        margin: 50px auto 0 auto;
    }
}
body {
    font-family: Roboto-Light;
    background-color: darkgray;
}
h1 {
    margin-top: 16px;
    text-align: center;
}
.button, .p_min_on, .p_min_och {
    margin: 20px 0 0 20px;
    width: 50%;
    
}
.time_1, .time_2, .time_3{
    width: 150px;
    margin-left: 20px;
    margin-top: 20px;
    
}
.formul {
    margin: 5px 0 0 0;
}