
body {
    background-image: url(../img/psp.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Hind Siliguri', sans-serif;
}
.secundomer {
    text-align: center;
    min-width: 320;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.header {
    width: 100%;
}
.btn_secund {
    width: 350px;
    height: 350px;
    margin-top: 20px;
    border: 5px solid;
    font-size: 50px;
    background-color: blanchedalmond;
}
.window {
    font-size: 50px;
    border: 3px solid;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: blanchedalmond;
}
.table {
    margin: 20px 0 20px 0;
}