@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@media screen and (min-width: 320px) {
    #timer {
        font-size: 30px;
        text-align: center;
    }

}

#timer {
    font-size: 100px;
    text-align: center;
    font-family: Roboto-Bold;
    margin-top: 10px;
}
#previous {
    font-size: 30px;
    text-align: center;
    font-family: Roboto-Light;
    margin-top: 10px;
    color: green;
}

#current {
    font-size: 90px;
    text-align: center;
    font-family: Roboto-Light;
    margin-top: 10px;
    line-height: 80px;
}
#next {
    font-size: 30px;
    text-align: center;
    font-family: Roboto-Light;
    margin-top: 35px;
    color: red;
}
.navbar {
    font-family: Roboto-Bold;
}