@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@media screen and (max-width: 567px) {
    #timer {
        font-size: 50px;
    }

}
.row {
    display: inline-flex;
}
#timer {
    font-size: 110px;
    text-align: center;
    font-family: Roboto-Bold;
    margin-top: 10px;
}
#previous {
    text-align: center;
    font-family: Roboto-Light;
    font-size: 20px;
    color: green;
}

#current {
    text-align: center;
    font-family: Roboto-Light;
    font-size: 50px;
}
#next {
    text-align: center;
    font-family: Roboto-Light;
    font-size: 20px;
    color: red;
}
.navbar {
    font-family: Roboto-Bold;
}