@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@media screen and (min-width: 567px) {
    .tablica {
        width: 100%;
        margin-top: 50px;
    }
}
@media screen and (max-width: 567px) {
    .tablica {
        width: 100%;
        display: block;
        margin: 50px auto 0 auto;
    }
}
body {
    font-family: Roboto-Light;
}
h1 {
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}
.b-1, .b-2 {
    margin-left: 20px;
    width: 120px;
}
.p_min_on, .p_min_och, .time_on, .time_och, .hour_on, .min_on, .hour_out, .min_out, .hour_och, .min_och{
    margin-left: 20px; 
    margin-top: 20px;
}
.formul {
    margin: 5px 0 0 0;
}