@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@media screen and (min-width: 567px) { 
    #timer {
        font-size: 150px;
        text-align: center;
        font-family: Roboto-Bold;
    }
    #previous, #next {
        font-size: 30px;
        text-align: center;
        font-family: Roboto-Light;
    }
    #current {
        font-size: 60px;
        text-align: center;
        font-family: Roboto-Light;
    }

}
@media screen and (max-width: 567px) { 
    #timer {
        font-size: 75px;
        text-align: center;
        font-family: Roboto-Bold;
    }
    #previous, #next {
        font-size: 15px;
        text-align: center;
    }
    #current {
        font-size: 30px;
        text-align: center;
    }
}
body {
    min-width: 320px;
    font-family: Roboto-Light;
}
#previous {
    color: green;
}
#next {
    color: red;
}
.navbar {
    font-family: Roboto-Light;
}